header{
  height: 400px;
  width: 100%;
  background-color:antiquewhite;

}


header #avatar{
   display: flex;
   align-items: center;
   justify-content: center;
 padding-top: 120px ;
}

header #name{
  display: flex;
  align-items: center;
  justify-content: center;
}

